<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Home</title>
    <link rel="stylesheet" href="/static/css/admin_home.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h2>Welcome, Admin!</h2>
        <div class="buttons">
          <button
            type="button"
            onclick="location.href='{{ url_for('admin_orders') }}'"
          >
            View Orders
          </button>
          <button
            type="button"
            onclick="location.href='{{ url_for('customer_details') }}'"
          >
            Customer Details
          </button>
          <button
            type="button"
            onclick="location.href='{{ url_for('placed_orders') }}'"
          >
            Placed Orders
          </button>
          <button
            type="button"
            onclick="location.href='{{ url_for('manage_product') }}'"
          >
            Manage Products
          </button>
          <form action="/logout" method="POST">
            <input type="submit" value="Logout" />
          </form>
        </div>
      </div>

      <!-- Admin Dashboard -->
      <p>Admin Dashboard</p>

      <!-- Manage Products Link -->
      <a href="{{ url_for('manage_product') }}">Manage Products</a>

      <!-- Add Product Form -->
      <form action="/add_product" method="POST" enctype="multipart/form-data">
        <label for="product_name">Product Name:</label>
        <input type="text" id="product_name" name="product_name" required />

        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" required />

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required />

        <label for="category">Category:</label>
        <input type="text" id="category" name="category" required />

        <!-- File Input -->
        <div class="file-input-wrapper">
          <label for="image">Product Image:</label>
          <div class="file-input">
            Choose File<input type="file" id="image" name="image" required />
          </div>
        </div>

        <input type="submit" value="Add Product" />
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/static/scripts.js"></script>
  </body>
</html>
